@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #23403f;
  color: #ffffff;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.sidebar nav ul li {
  margin: 10px 0;
  cursor: pointer;
}

.sidebar nav ul li.active {
  font-weight: bold;
}

.sidebar nav ul li.active::before {
  content: " >";
  margin-right: 10px;
  font-size: 20px;
}

.main-content {
  flex: 1;
  padding: 40px;
  background-color: #fbf8ef;
}

.main-content h1 {
  font-family: "Raleway", sans-serif;
  color: #2c3e50;
  margin-bottom: 20px;
}

.form-container {
  background-color: #f1ede2;
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Ajusta el ancho según tus preferencias */
  max-width: 600px;
  margin-top: 20px;
  margin-left: 0; /* Alinea hacia la izquierda */
  box-sizing: border-box; /* Asegura que padding no afecte el ancho */
}

.form-container input {
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 100%; /* Ajusta los inputs al 100% del contenedor */
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #dad5d5;
  border-radius: 5px;
  background-color: #d4d0c4;
  box-sizing: border-box; /* Previene que padding amplíe el tamaño */
}


input:disabled {
  background-color: #e6e2d6; /* Fondo gris claro */
  color: #d8d5d52f; /* Texto gris */
  cursor: not-allowed; /* Indica que está inactivo */
}

.btn-register {
  font-family: "Montserrat", sans-serif;
  background-color: #23403f;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #1b302f;
}
