@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
    scroll-behavior: auto !important;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;

    overflow-y: scroll;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    padding: 20px;
}
  
.navbar ul li a {
    text-decoration: none;
}
  
.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar {

    --bs-navbar-padding-y: 1rem !important;
    --bs-navbar-brand-padding-y: 0.0rem !important;

}

.navbar-brand {

    --bs-navbar-brand-font-size: 1.55rem;

}

.nav-link {

    font-size: 1.25rem !important;

}
  
.heroContainer {
    /* border: black solid 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f5f0;
    height: 55vh;
}
  
.heroMainInfo h4 {
    font-size: 15px;
}
  
.heroMainInfo button {
    margin-top: 20px;
    background-color: #388e3c;
}
  
.heroLogo img {
    width: 100%;
}

.filter-catalog {

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;

}

.products {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

}

.card {

    transition: 0.2s;

}

.card:hover {

    transform: translateY(-10px);
    transition: 0.2s;
    cursor: pointer;

}

.footer {
    background-color: #233a23;
    padding: 100px 0;
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
}
  
.link ul {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    gap: 0;
}
  
.link h3 {
    color: #cbecb6;
    font-size: 18px;
    margin-bottom: 15px;
}
  
.link a {
    color: #cbecb6;
    display: block;
    margin-bottom: 10px;
}
  
.link a:hover {
    color: #4cbb6b;
}

.buttons {

    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

.page-link:hover {

    cursor: pointer;

}

.pages {

    display: flex;
    flex-direction: row;

}

.page-link {

    border-radius: 0px !important;

}

.bordererL {

    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;

}

.bordererR {

    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

}

.page-link {

    user-select: none;

}

.card-text {

    user-select: none;

}