@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    background-image: radial-gradient(circle 290rem, #FBF8EF 20%, #E4C583 100%);
}

.custom-navbar {
    transition: background-color 0.05s ease-in-out; /* Suaviza la transición del color */
    background-color: transparent; /* Fondo transparente por defecto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    left: 2rem;
}

.option {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    padding: 0;
}

.profile {
    top: -1.5rem;
    right: 0.2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.perfil {
    position: absolute;
    top: -1.5rem;
    right: 0.2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.logo-div {
    display: flex;
    gap: 0.35rem;
}

.cantina {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color: #8AA88D;
}

.daniela {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color: #203F3B;
}

.confirmation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}   

.confirmation-box {
    display: flex;
    justify-content: center;
    min-width: 30%;
    max-width: 40%;
}

.info-div {
    box-shadow: 0 10px 10px rgba(0, 0,  0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
   
}

.header-info {
    border-bottom: #203F3B 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.placetime-div {
    display: flex;
    height: 17vh;
    justify-content: center;    
}

.place {
    border-right:#203F3B solid 2px;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}

.place p {
    max-width: 95%;
}

.time {
    /* border: black solid 2px; */
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    padding-left: 1rem;
}

.order {
    border-top: #203F3B solid 2px;
    border-bottom: #203F3B solid 2px;
    text-align: center;
    padding-top: 1rem;
}

.item-details {
    display: flex;
}

.item-info {
    flex: 1;
    max-width: 50%;
    border-right: #203F3B 2px solid;
}

.item-info p {
    padding: 0.2rem;
}

.total {
    width: 50%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.buttons-div {
    border-top: #203F3B 2px solid;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    
}

.confirmation-details {
    border: #203F3B solid 2px;
}

.order {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}

.btn-success {

    --bs-btn-bg: #8AA88D !important;
    --bs-btn-border-color: #8AA88D !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #5a835e !important;
    --bs-btn-hover-border-color: #5a835e !important;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5a835e !important;
    --bs-btn-active-border-color: #5a835e !important;

}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: white;
    background-color: #b9d3bb;
    border-color: #b9d3bb;
}

#hour-and-date {

    margin-bottom: 2.5rem;

}

.result {

    text-align: center;
    color: #507a54;
    font-weight: bold;

}