@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500:600:700:800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
font-family: 'Poppins', sans-serif; }

img {
    max-width: 100%; /*Para que todas las imagenes sean responsive*/
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #eff3f4;
    padding: 130px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relavite;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #179b5f;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}


table {
    width: 100%;
}

th, td {
    color:#eff3f4;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 45px;
}

.header-txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #111419;
    margin-bottom: 35px;

}

.butons {
    display:flex;
}

.btn-1 {
    display: inline-block0;
    padding: 13px 25px;
    background-color: #108130;
    margin-right: 20px;
    color: #eff3f4;
    text-transform: capitalize;
    margin-bottom: 100px;
    text-decoration: none;
}

.header-img {
    flex-basis: 80%;
    text-align: center;
}

.header-img img {
    height: 580px;
}

/*INTRODUCCION*/

h2 {
    font-size: 40px;
    color: #111419;
}

.productos {
    padding: 0 0 50px 0;
    text-align: center;
}

.titulo-productos {
    margin-top: 50px; /* Aumentar este valor para mayor separación */
    text-align: center; /* Centrar el título */
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); 
    gap: 20px;
}

.box img {
    height: 200px;
    width: 100%; /* Mantener el ancho completo dentro del contenedor */
    object-fit: cover; /* Ajusta la imagen sin distorsionar */
}


.box {
    border-top: 2px solid #108130;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba (0, 0, 0, 0.2);
    background-color: #cbecb6;
    min-width: 10px;
}
 /*Agregar cajas productos*/
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8){
    display: inline-block;

}

.box img {
    height: 200px;
}

.productos-txt h3 {
    font-size: 20px;
    color: #111419;
    margin-bottom: 10px;
}

.productos-txt p {
    margin-bottom: 25px;
    color: #515557;

}

.precio {
    font-size: 17px;
    font-weight: 700;
    color:#054e1a;
}

.footer {
    background-color: #233a23;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link {

    display: flex;
    flex-direction: column;

}

.link ul {

    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    gap: 0;

}

.link h3 {
    color:#cbecb6; 
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color:#cbecb6;
    display: block;
    margin-bottom: 10px;
}

.link a {
    color: #4cbb6b;
    display: block;
}

.link a:hover {
    color: #4cbb6b;
}

@media (max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:#179b5f ;
        display: none;
    }

    .menu .navar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .menu .navbar ul li a:hover {
        color:#eff3f4;
    }

    .submenu:hover #carrito {
        width: 100%;
    }

    .header {
        padding: 50px 0 0 0;
    }

    .header-content {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-right: 0;
    }

    .butons {
        justify-content: center;
    }

    .btn-1 {
        margin-bottom: 0;
    }

    .header-img {
        display: none;
    }

    .ofertas {
        padding: 30px;
    }

    .oferta-1 {
        margin-bottom: 25px;
    }

    .productos {
        padding: 0 30px 30px 30px;
    }

    .footer {
        padding: 30px;
    }
    
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
} 


#menu-icon {
    width: 40px;  /* Ajusta el tamaño según prefieras */
    height: auto;
    cursor: pointer;  /* Hace que el cursor cambie a pointer al pasar por encima */
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #108130; /* Color de fondo del header */
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-bottom: 0rem;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  #cargar-mas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 200px; /* Ajusta el ancho a tu preferencia */
    padding: 10px;
    background-color: #108130;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}


#cargar-mas-container {
    width: 100%; /* El contenedor ocupa todo el ancho disponible */
    display: flex;
    justify-content: center; /* Esto centrará el botón */
    margin-top: 20px; /* Ajusta el margen según lo necesario */
}

#cargar-mas {
    padding: 10px 20px;
    background-color: #108130;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none; /* Si deseas eliminar bordes */
    border-radius: 5px; /* Para darle un aspecto más redondeado */
}



/* Estilos para el título del menú semanal */
.titulo-menu-semanal {
    margin-bottom: 10px; /* Ajusta este valor para mover el título más cerca o lejos del carrusel */
    background-color: #ffffff; /* Color de fondo gris */
    padding: 30px; /* Espaciado interno alrededor del texto */
    text-align: center; /* Centrar el texto */
}

/* Estilo para el carrusel */
.carousel {
    margin: 0 auto; /* Centrar el carrusel */
    width: 100%; /* Ajustar el ancho del carrusel */
    max-width: 1000px; /* Ancho máximo */
    min-width: 350px;
    height: auto; /* Ajustar la altura automáticamente según el contenido */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave detrás del carrusel */
}

/* Estilo del texto del carrusel con fondo oscuro y transparente */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con 60% de transparencia */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
    max-width: 80%; /* Ajusta el ancho del texto */
    margin: 0 auto; /* Centrar el texto */
} 

