@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;    
  background-position: center;
  background-size: cover;
}

.foto {
  background-image: radial-gradient(circle 290rem, #FBF8EF 20%, #E4C583 100%);
}

.login-container {
  width: 60%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbf8ef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
}

.form-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.login-info {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: #203f3b solid 2px; */
  padding: 10px;
}

.title {
  font-size: 3.5rem;
  color: #203f3b;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.input-div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.input-container {
  position: relative;
  width: 300px;
  /* border: #203f3b 2px solid; */
  border-radius: 8px;
  padding: 0 5px 0 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
}

.input-container input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #000000;
}

.buttons {
  margin-top: 30px;
  width: 70%;
  font-size: 2rem;
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  color: #FBF8EF !important;
  background-color: #203f3b;
}

.button:hover {
  opacity: 0.9;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgb(43, 37, 37);
  border-radius: 8px;
  list-style: none;
  padding: 10px;
  margin-top: 0px;
  width: 400px;
  font-family: "Montserrat", sans-serif;
}

.dropdown:hover .dropdown-menu {
  display: block;
  width: 200px;
  margin-left: 50px;
}

.dropdown-item {
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(202, 209, 202);
  font-weight: 500;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #555151;
  cursor: pointer;
}

.button p {
  color: inherit;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.errors {
  text-align: center;

  font-weight: bold;
  color: red;
}

.error-password,
.error-mail {
  position: absolute;
  text-align: center;

  font-weight: bold;
  color: red;
}

.login-forum {
  flex: 1;
  background-color: #203f3b;
}

.foto {
  flex: 1;
}

.foto img {
  user-select: none;
  width: 50vw;
}

.separator {
  width: 2.5px;
  /* background-color: #a67c52; */
  background-color: #000000;
}

.dropdown-btn,
.button {
  background-color: #203f3b !important;
  color: white !important;
}
