.edit-icon {
    cursor: pointer;
        color: #008a39;
    }
    .edit-icon:hover {
        color: #97f89c;
    }


    .slash-fill{

        color: #008a39;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #4caf50;
        padding: 20px;
    }
      
    .navbar ul li a {
        text-decoration: none;
    }
      
    .navbar ul li a:hover {
        text-decoration: underline;
    }
    
    .navbar {
    
        --bs-navbar-padding-y: 1rem !important;
        --bs-navbar-brand-padding-y: 0.0rem !important;
    
    }
    
    .navbar-brand {
    
        --bs-navbar-brand-font-size: 1.55rem;
    
    }
    
    .nav-link {
    
        font-size: 1.25rem !important;
    
    }