@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    background-image: radial-gradient(circle 290rem, #FBF8EF 20%, #E4C583 100%);
}

.custom-navbar {
    transition: background-color 0.05s ease-in-out; /* Suaviza la transición del color */
    background-color: transparent; /* Fondo transparente por defecto */
    display: flex;
    padding: 1rem;
  } 
  
  .navbar-brand {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}
  

.option {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    padding: 0;
}

.profile {

    top: -1.5rem;
    right: 0.2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;

}

.perfil {
    position: absolute;
    top: -1.5rem;
    right: 0.2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.cantina {
    color: #8AA88D;
}

.daniela {
    color: #203F3B;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 71.8vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.image-div {
    width: 400px;
    height: 400px;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;   
}

.item-info {    
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width: 800px;
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
}

.item-title {
    font-size: 4.25rem;
    font-weight: 670;
    max-width: 90%;
    border-bottom: #203F3B solid 2px;
}

.item-price {
    font-size: 1.5rem;
    font-weight: 700;
}

.item-description {
    font-size: 1.25rem;
    max-width: 700px;
}

.order-button {
    width: 50%;
    height: 45px;
    margin-top: 2rem;
    background-color:#8AA88D;
    border: none;
    font-size: 1.25rem;
}

.order-button:hover {
    background-color: #738575;
}

.dropdown-menu {

    overflow: hidden;

}