@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.inicio-section {
  background-image: radial-gradient(circle 290rem, #FBF8EF 20%, #E4C583 100%);
  height: 100vh;
  overflow: hidden;
}

.custom-navbar {
  transition: background-color 0.05s ease-in-out; /* Suaviza la transición del color */
  background-color: transparent; /* Fondo transparente por defecto */
} 

.navbar.scrolled {
  background-color: #FBF8EF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 2rem;
}

.dropdown-menu {

  --bs-dropdown-bg: #203F3B !important;
  --bs-dropdown-link-color: #fff !important;
  --bs-dropdown-divider-bg: #fff !important;
  --bs-dropdown-link-hover-bg: #375e58 !important;
  --bs-dropdown-link-hover-color: #fff !important;

}

.current-page {
  font-weight: 700;
  transition: 0.2s;
}

.option-box {
  margin-left: 100px;
}

.option {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding: 0;
}

.profile {
  top: -1.5rem;
  right: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.dropdown-menu {

  overflow: hidden;

}

.cantina {
  color: #8AA88D;
}
.daniela {
  color: #203F3B;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero-section-plus {

  margin-top: 60px;

}

.logo-container {
  position: absolute;
  width: 60vw; 
  height: 70vh; 
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  /* border: blue solid 2px; */
  top: 10rem;
  left: -10rem;
}

.logo {
  max-width: 400%;
  overflow: clip;
  width: 400rem;
}

.text-container {
  position: relative;
  left: 15rem;
  top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.title {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}

.title-cantina {
  /* border: red solid 2px; */
  font-family: "Raleway", sans-serif;
  font-size: 130px;
  font-weight:600;
  margin: 0;
  color: #E4C583;
}

.title-daniela {
  margin: 0;
  /* border: blue solid 2px; */
  font-family: "Raleway", sans-serif;
  font-size: 125px;
  font-weight:600;
  color: #203F3B;
}

.slogan {
  margin: 0;
  font-size: 35px;
  /* border: gray solid 2px; */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.highlight {
  font-style: italic; 
  text-decoration: underline; 
  font-weight: 550;
}

#facilidad {
  color: #8AA1A8 ; 
}

#eficiente {
  color: #8AA88D; 
}

.btn-login {
  margin-top: 20px;
  background-color: #203F3B;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  width: 250px;
  height: 70px;
}

.btn-login:hover {
  background-color: #375e58;
}

.btn-primary {

  --bs-btn-active-bg: #375e58 !important;
  --bs-btn-active-border-color: #375e58 !important;

}

.bottom-div {
  position: relative;
  top: 17rem;
  width: 101vw;
  height: 30rem;
  background-color: #B2D1BF;
  transform: rotate(-4deg); /* Rotate by 45 degrees */
}

/* Seccion Menu Diario */

.diary-menu-section {
  height: 70vh;
  background-color: #B2D1BF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.section-title {
  color:#203F3B;
  font-family: "Raleway", sans-serif;
  font-weight:600;
  display: inline-block;
  position: relative;
}

.section-title::before, .section-title::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: currentColor;
  top: 50%; /* Centra la línea verticalmente en el título */
  transform: translateY(-50%);
}

.section-title::before {
  left: -130px; /* Línea izquierda */
}

.section-title::after {
  right: -130px; /* Línea derecha */
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-wrapper {
  overflow: hidden;
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;

}

.card-list {
  height: 400px;  
  padding: 0;
  margin: 0;
}

.card-item {
  max-width: 50%;
  display: block;
  background: white;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  list-style: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0,  0, 0.05);
}

/* Seccion Menus Fijos */

.normal-menu-section {
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(circle 290rem, #FBF8EF 20%, #E4C583 100%);
  justify-content: space-evenly;
}

/* Seccion Productos */

.product-section {
  background-color: #B2D1BF;  
  height: 110vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.75rem; 
  justify-content: center; 
  align-items: center; 
  width: 100%;  
  padding-bottom: 1.5rem;
}

/* Cartas productos */
.card {
  border: none;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  cursor: pointer;
}

.card-title {
  color:#203F3B ;
}

.card-text {
  padding-top: 10px;
}

.desc-producto {

  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limita a 3 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  /* Compatibilidad estándar para otros navegadores */
  line-clamp: 1;
  box-orient: vertical;

}

.name-producto {

  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limita a 3 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  /* Compatibilidad estándar para otros navegadores */
  line-clamp: 1;
  box-orient: vertical;

}