@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.sidenav {
  height: 100%; 
  width: 220px; 
  position: fixed; 
  background-color: #203F3B; 
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 2rem;
  margin: 5px 0px 25px 20px;
  padding-bottom: 10px;
  text-decoration: none;
  color:#FBF8EF;
  display: block;
  box-shadow: 0 5px 5px rgba(0, 0,  0, 0.05);
  cursor: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.sidebar-options {
  margin: 15px 0px 10px 35px;
  text-decoration: none;
  color:#FBF8EF;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.sidebar-options:hover {
  opacity: 0.8;
}

#options {
  font-size: 1.05rem;
  font-weight: 600;  
}

#options::before {
  content: "> ";
}

#back {
  margin-top: auto;
  margin-bottom: 30px;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.content {
  background-image: radial-gradient(circle 290rem, #FBF8EF 20%, #E4C583 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  background-color:#FBF8EF;
  box-shadow: 0 10px 10px rgba(0, 0,  0, 0.05);
  height: 750px;
  width: 650px;
  border-radius: 20px;
  border: none;
}

.top-banner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #203F3B;
  width: 100%;
  height: 20%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
}

.profile-picture {
  background-color: white;
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 35px;
  top: 19%;
  box-shadow: 0 10px 10px rgba(0, 0,  0, 0.05);
}

.username {
  color: #203F3B;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px;
  width: 80%;
}

.name-info, .email-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 15rem;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 6px 6px rgba(0, 0,  0, 0.05);
}

.info-btn {
  width: 80px;
  height: 40px;
  background-color: transparent;
  border: gray solid 2px;
  color: #203F3B;
  font-weight: 600;
}

.info-btn:hover {
  background-color: #203F3B ;
  opacity: 0.7;
}

.save-btn {
  width: 85px;
  border-radius: 5px;
  background-color: transparent;
  border: #E4C583 solid 2px;
  color: #203F3B;
  font-weight: 600;
  --bs-btn-active-bg: #E4C583 !important;
  --bs-btn-active-border-color: #E4C583 !important;
  --bs-btn-active-color: #FBF8EF !important;
}

.save-btn:hover {
  background-color: #E4C583 ;
  border: #E4C583 solid 2px;
  color: #FBF8EF;
  opacity: 0.7;
}

.save-btn:active {
  background-color: #E4C583 ;
  border: #E4C583 solid 2px;
  color: #FBF8EF;
  opacity: 0.4;
}

.info-btn:hover {
  background-color: #203F3B ;
  opacity: 0.7;
}

.cancel-btn {
  width: 90px;
  border-radius: 5px;
  background-color: transparent;
  border: #203F3B solid 2px;
  color: #203F3B;
  font-weight: 600;
  --bs-btn-active-bg:  #203F3B  !important;
  --bs-btn-active-border-color:  #203F3B  !important;
  --bs-btn-active-color: #FBF8EF !important;
}

.cancel-btn:hover {
  background-color:  #203F3B ;
  border: #203F3B solid 2px;
  color: #FBF8EF;
  opacity: 0.7;
}

.cancel-btn:active {
  background-color:  #203F3B  ;
  border:  #203F3B solid 2px;
  color: #FBF8EF;
  opacity: 0.4;
}

.name-div {

  width: 100%;

}

.email-div {

  width: 100%;

}

.inputs-container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.password-link:hover {
  opacity: 0.6;
}

.password-link:active {
  opacity: 0.4;
}

.input-field {
  background-color: transparent;
  border: #203F3B 2px solid;
  border-radius: 7px;
  padding: 0.2rem;
  width: 300px;
  font-size: 1rem;

}

p {

  margin: 0 0 1rem 0;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}