table {
    width: 100%; 
    margin-top: 30px;
    font-size: 20px;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
}

table {
    min-width: 800px; 
}


table img {
    width: 80px; 
    height: 80px; 
}



