@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
    scroll-behavior: auto !important;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    padding: 20px;
}
  
.navbar ul li a {
    text-decoration: none;
}
  
.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar {

    --bs-navbar-padding-y: 1rem !important;
    --bs-navbar-brand-padding-y: 0.0rem !important;

}

.navbar-brand {

    --bs-navbar-brand-font-size: 1.55rem;

}

.nav-link {

    font-size: 1.25rem !important;

}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.product-image {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.order-button {

    background-color: #198754;
    font-size: 20px; 
    border: none;
    border-radius: 5px;
    padding: 10px 55px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-top: auto;
    color: white;
    text-align: center;
    margin: 0 auto;

}

.order-button:hover {

    background-color: #0d693e;

}

.product-image {
    transition: transform 0.3s ease; /* Efecto suave para el cambio en la imagen */
}

.product-image:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen */
}

/* Información del producto */
.product-info {

    /* max-width: 450px; */
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.product-info h1 {

    font-size: 60px;
    color: #333;
    font-weight: bold;
    margin: 0px;

}

.precio {

    font-size: 35px !important;
    font-weight: bold;
    color: #185c07;

}

.description {

    font-size: 16px !important;

}

.product-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.product {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

}

.footer {

    background-color: #233a23;
    padding: 100px 0;

}
  
.footer-content {

    display: flex;
    justify-content: space-between;

}
  
.link ul {

    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    gap: 0;

}
  
.link h3 {

    color: #cbecb6;
    font-size: 18px;
    margin-bottom: 15px;

}
  
.link a {

    color: #cbecb6;
    display: block;
    margin-bottom: 10px;

}
  
.link a:hover {

    color: #4cbb6b;

}

.mt-5 {

    margin-top: 0rem !important;

}

.main-container {

    display: flex;
    flex-direction: column;

}