@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;

    overflow-y: scroll;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    padding: 20px;
}
  
nav ul li a {
    text-decoration: none;
}
  
nav ul li a:hover {
    text-decoration: underline;
}
  
.heroContainer {
    /* border: black solid 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f5f0;
    height: 55vh;
}
  
.heroMainInfo h4 {
    font-size: 15px;
}
  
.heroMainInfo button {
    margin-top: 20px;
    background-color: #388e3c;
}
  
.heroLogo img {
    width: 100%;
}

.catalogo-filtros {

    /* border: red solid 2px; */
    padding: 0px 5px 0px 5px;

}

.filtros-title {

    font-size: 21.5px;

}

.filtros {

    display: felx;
    flex-direction: column;
    /* border: red solid 2px; */
    min-width: 10vh;
    width: 30vh;
    max-width: 30vh;
    height: 100vh;
    padding-right: 12px;

}

.formulario {

    line-height: 25px;
    display: flex;
    flex-direction: column;

}

.catalogos-productos {

    display: flex;
    flex-direction: row;
    min-width: 1000px;
    padding-top: 25px;
    max-width: 1800px;
    margin: 0 auto;
    min-width: 996px;
    width: calc(100vw - 28px + 4px);

}

.productos {

    display: flex;
    flex-direction: column;
    /* border: blue solid 2px; */
    width: 100%;
    height: 100%;

}

.producto {

    display: flex;
    flex-direction: row;
    margin: 5px;
    border: rgba(131, 131, 131, 0.25) solid 1px;
    border-radius: 10px;
    margin-right: 25px;

}

.product-image {

    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;

}

.info-producto {

    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 15px;
    padding-left: 10px;

}

.titlulo-producto {

    font-size: 32px;
    /* border: red solid 2px; */

}

.descripcion {

    font-size: 22px;
    width: 75%;
    /* border: red solid 2px; */

}

.precio {

    font-size: 22px;
    font-weight: bold;
    color: #185c07;
    /* border: red solid 2px; */

}

.recomendaciones {

    

}

.recomendaciones img {

    height: 50%;
    width: 100%;

}