@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;

    overflow-y: scroll;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    padding: 20px;
}
  
nav ul li a {
    text-decoration: none;
}
  
nav ul li a:hover {
    text-decoration: underline;
}

.navbar {

    --bs-navbar-padding-y: 1rem !important;
    --bs-navbar-brand-padding-y: 0.0rem !important;

}

.navbar-brand {

    --bs-navbar-brand-font-size: 1.55rem;

}

.nav-link {

    font-size: 1.25rem !important;

}
  
.heroContainer {
    /* border: black solid 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f5f0;
    height: 55vh;
}
  
.heroMainInfo h4 {
    font-size: 15px;
}
  
.heroMainInfo button {
    margin-top: 20px;
    background-color: #388e3c;
}
  
.heroLogo img {
    width: 100%;
}

.catalogo-filtros {

    /* border: red solid 2px; */
    padding: 0px 5px 0px 5px;

}

.filtros-title {

    font-size: 21.5px;

}

.filtros {

    display: flex;
    flex-direction: column;
    /* border: red solid 2px; */
    width: 20vw;
    height: 100vh;
    padding-right: 12px;

}

.formulario {

    line-height: 25px;
    display: flex;
    flex-direction: column;

}

.productos {

    display: flex;
    flex-direction: column;
    /* border: blue solid 2px; */
    width: 100vw;
    height: 100vh;

}

.producto {

    display: flex;
    flex-direction: row;
    margin: 5px;
    border: rgba(131, 131, 131, 0.25) solid 1px;
    border-radius: 10px;
    /* margin-right: 25px; */

}

@media (min-width: 1081px) {

    .catalogos-productos {

        display: flex;
        flex-direction: row;
        padding-top: 25px;
        margin: 0 auto;
        width: calc(100vw - 150px + 4px);
    
    }

    .descripcion {

        font-size: 22px;
        width: 75%;

    }

    .titlulo-producto {

        font-size: 32px;
        /* border: red solid 2px; */
    
    }

    .precio {

        font-size: 22px;
        font-weight: bold;
        color: #185c07;
        /* border: red solid 2px; */
    
    }

    .info-producto {

        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 15px;
    
    }

    .product-image {

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    
    }

    .recomendaciones {

        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 100px;
    
    }
    
    .recomendaciones img {
    
        height: 750px;
        width: 250px;
    
    }

}

@media (max-width: 1080px) {

    .catalogos-productos {

        display: flex;
        flex-direction: row;
        padding-top: 25px;
        margin: 0 auto;
        width: calc(100vw - 24px + 4px);
    
    }

    .filtros {

        display: none;

    }

    .product-image {

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        max-width: 175px;
        max-height: 175px;

    }

    .info-producto {

        display: flex;
        flex-direction: column;
        padding-left: 5px;
        padding-top: 7.5px;

    }

    .descripcion {

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        width: 75%;
        margin: 0px;
        /* border: red solid 2px; */

    }

    .titlulo-producto {

        font-size: 24;

    }

    .precio {

        font-size: 16px;
        font-weight: bold;
        color: #185c07;
        /* border: red solid 2px; */

    }

    .recomendaciones {

        display: none;
        flex-direction: column;
        gap: 20px;
    
    }
    
    .recomendaciones img {
    
        height: 750px;
        width: 250px;
    
    }

}

@media (max-width: 480px) {

    .catalogos-productos {

        display: flex;
        flex-direction: row;
        padding-top: 25px;
        margin: 0 auto;
        width: calc(100vw - 24px + 4px);
    
    }

    .filtros {

        display: none;

    }

    .product-image {

        border-top-left-radius: 10px ;
        border-bottom-left-radius: 10px;
        max-width: 165px;
        max-height: 165px;

    }

    .info-producto {

        display: flex;
        flex-direction: column;
        padding-left: 5px;
        padding-top: 7.5px;

    }

    .descripcion {

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        width: 75%;
        margin: 0px;
        /* border: red solid 2px; */

    }

    .titlulo-producto {

        font-size: 24;

    }

    .precio {

        font-size: 16px;
        font-weight: bold;
        color: #185c07;
        /* border: red solid 2px; */

    }

    .recomendaciones {

        display: none;
        flex-direction: column;
        gap: 20px;
    
    }
    
    .recomendaciones img {
    
        height: 750px;
        width: 250px;
    
    }
    
}